
@{
    ViewData["Title"] = "Index";
}

<section class="about_sectionOne">
    <div class="container-flued">
        <div class="about_container_image">
            <div class="container">
                <div class="row ">
                    <h2>CONTACT</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact_map">
    <div class="container-flued">
        <div class="map_container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12158.446078550782!2d49.849567543143586!3d40.37313748487904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1620206556645!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <img class="animate__animated animate__fadeOutUp animate__infinite	infinite"
                 src="~/assets/image/map_icon.png" title="LOCATION" alt="LOCATION">
        </div>
        <div class="iframe_back">

        </div>


    </div>
</section>

<section class="contact_message">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="contacts">
                    <div class="contacts_icon">
                        <i class="far fa-compass"></i>
                    </div>
                    <div class="contacts_text">
                        <h3>address</h3>
                        <p>135, First Lane, City Street</p>
                        <p>New Yourk City, USA</p>
                    </div>
                </div>
                <div class="contacts">
                    <div class="contacts_icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="contacts_text"></div>
                    <h3>address</h3>
                    <p>135, First Lane, City Street</p>
                    <p>New Yourk City, USA</p>
                </div>
                <div class="contacts">
                    <div class="contacts_icon">
                        <i class="fas fa-globe-europe"></i>
                    </div>
                    <div class="contacts_text"></div>
                    <h3>address</h3>
                    <p>135, First Lane, City Street</p>
                    <p>New Yourk City, USA</p>
                </div>
            </div>
            <div class="col-lg-9">
                <h3>LEAVE A MESSAGE</h3>
                <p>
                    I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is
                    lder of human happinescias unde omnis iste natus error sit volptatem
                </p>
                <form id="contact-form" action="mail.php" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Name</p>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="col-md-12">
                            <p>Email</p>
                            <input type="text" name="email" id="email">
                        </div>
                        <div class="col-md-12">
                            <p>Subject</p>
                            <input type="text" name="subject" id="subject">
                            <p>Massage</p>
                            <textarea name="message" id="message" cols="90" rows="15"></textarea>
                        </div>
                    </div>
                    <a class="reply-btn" href="#" data-text="send"><span>send message</span></a>
                </form>
            </div>
        </div>
    </div>
</section>