@model About
@{
    ViewData["Title"] = "Index";
}

<section id="about" style="background-image: url(/assets/image/banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-content-wrapper">
                    <div class="banner-content">
                        <h2>about us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="eduhome">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="edu-content">
                    <h2>
                        @Html.Raw(Model.Title)
                    </h2>
                    <p>
                       @Model.Description
                    </p>

                    <a href="">view courses</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="edu-media">
                    <img src="~/assets/image/@Model.Image" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Teacher">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="teacher-media">
                    <img src="~/assets/image/section.png" alt="">
                    <h2>MEET OUR TEACHERS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="single">
                    <div class="single-teacher">
                        <a href="">
                            <img src="~/assets/image/teacher1.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-teacher-content">
                        <h2>
                            <a href="">STUART KELVIN</a>
                        </h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single">
                    <div class="single-teacher">
                        <a href="">
                            <img src="~/assets/image/teacher2.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-teacher-content">
                        <h2>
                            <a href="">STUART KELVIN</a>
                        </h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single">
                    <div class="single-teacher">
                        <a href="">
                            <img src="~/assets/image/teacher3.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-teacher-content">
                        <h2>
                            <a href="">STUART KELVIN</a>
                        </h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 hidden-md">
                <div class="single">
                    <div class="single-teacher">
                        <a href="">
                            <img src="~/assets/image/teacher4.jpg" alt="">
                        </a>
                    </div>
                    <div class="single-teacher-content">
                        <h2>
                            <a href="">STUART KELVIN</a>
                        </h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Morgan">
    <div class="container">
        <div class="row">
            <div class="owl-items">
                <div class="owl-carousel owl-theme">
                    <div class="owl-media">
                        <img src="~/assets/image/owl1.jpg" alt="" />
                    </div>
                    <div class="owl-content">
                        <p>
                            I must explain to you how all this mistaken idea of denoung pleure and praising pain was<br /> born and I will give you a coete account of the system, and expound the actual
                        </p>
                        <h4>David Morgan</h4>
                        <h5>Student, CSE</h5>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="owl-media">
                        <img src="~/assets/image/owl1.jpg" alt="" />
                    </div>
                    <div class="owl-content">
                        <p>
                            I must explain to you how all this mistaken idea of denoung pleure and praising pain was<br /> born and I will give you a coete account of the system, and expound the actual
                        </p>
                        <h4>David Morgan</h4>
                        <h5>Student, CSE</h5>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="owl-media">
                        <img src="~/assets/image/owl1.jpg" alt="" />
                    </div>
                    <div class="owl-content">
                        <p>
                            I must explain to you how all this mistaken idea of denoung pleure and praising pain was<br /> born and I will give you a coete account of the system, and expound the actual
                        </p>
                        <h4>David Morgan</h4>
                        <h5>Student, CSE</h5>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="owl-media">
                        <img src="~/assets/image/owl1.jpg" alt="" />
                    </div>
                    <div class="owl-content">
                        <p>
                            I must explain to you how all this mistaken idea of denoung pleure and praising pain was<br /> born and I will give you a coete account of the system, and expound the actual
                        </p>
                        <h4>David Morgan</h4>
                        <h5>Student, CSE</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="video">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="content-video">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a data-fancybox href="https://www.youtube.com/watch?v=to6Ghf8UL7o">
                                <i class="far fa-play-circle"></i>
                            </a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="notice-left-wrapper">
                    <h3>NOTICE BOARD</h3>
                </div>
                <div class="notice-left">
                    <div class="single-notice-left">
                        <h4>5, June 2017</h4>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete
                        </p>
                    </div>
                    <div class="single-notice-left">
                        <h4>4, June 2017</h4>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete
                        </p>
                    </div>
                    <div class="single-notice-left">
                        <h4>3, June 2017</h4>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete
                        </p>
                    </div>
                    <div class="single-notice-left">
                        <h4>5, June 2017</h4>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete
                        </p>
                    </div>
                    <div class="single-notice-left">
                        <h4>4, June 2017</h4>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete
                        </p>
                    </div>
                    <div class="single-notice-left">
                        <h4>3, June 2017</h4>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

