#contact-map {
    position: relative;
    iframe {
        width: 100%;
        z-index: 2;
        opacity: 0.5;
        position: relative;
    }
    .contact-media {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 5;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 100%;
        background: black;
    }
}