html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .header-top {
  position: relative;
  background-color: #EC1C23;
}

header .header-top::after {
  content: "";
  background-color: #2C2B5E;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 36%;
}

header .header-top::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 105px;
  position: absolute;
  right: 37.8%;
  top: -18px;
  transform: rotate(-45deg);
  width: 8px;
  z-index: 2;
}

header .header-top .container {
  max-width: 1200px;
}

header .header-top .container .row .sidebar-left p {
  color: white;
  line-height: 68px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

header .header-top .container .row .sidebar-right {
  position: relative;
  z-index: 1;
}

header .header-top .container .row .sidebar-right::after {
  background: #2C2B5E none repeat scroll 0 0;
  content: "";
  height: 100px;
  left: -15%;
  position: absolute;
  top: -38px;
  transform: rotate(-45deg);
  width: 60px;
}

header .header-top .container .row .sidebar-right ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  line-height: 68px;
}

header .header-top .container .row .sidebar-right ul li {
  margin-right: 38px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

header .header-top .container .row .sidebar-right ul li a {
  text-decoration: none;
  color: white;
}

header .header-bottom {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030;
  background: white;
}

header .header-bottom .container {
  max-width: 1200px;
}

header .header-bottom .container .row .media {
  padding: 40px 0px 33px;
}

header .header-bottom .container .row .media img {
  max-width: 100%;
}

header .header-bottom .container .row .custom-navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 36px;
}

header .header-bottom .container .row .custom-navbar .custom-nav-container {
  display: flex;
}

header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item {
  position: relative;
  z-index: 12;
}

header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item:hover > ul {
  opacity: 1;
  position: absolute;
  z-index: 6;
}

header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item .custom-nav-link {
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  padding: 0px 15px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-weight: 600;
  line-height: 130px;
}

header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item .custom-nav-dropdown {
  position: absolute;
  background: #ffffff none repeat scroll 0 0;
  width: 185px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  padding: 10px 18px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item .custom-nav-dropdown .custom-dropdown-item {
  padding: 11px 0px;
}

header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item .custom-nav-dropdown .custom-dropdown-item a {
  text-decoration: none;
  color: #303030;
}

header .header-bottom .container .row .custom-navbar .Icon {
  line-height: 130px;
  margin-left: 11px;
  position: relative;
  cursor: pointer;
}

header .header-bottom .container .row .custom-navbar .Icon .search {
  position: absolute;
  z-index: 19;
  opacity: 0;
  display: none;
}

header .header-bottom .container .row .custom-navbar .Icon .search .input-group {
  position: absolute;
  left: -194px;
}

header .header-bottom .container .row .custom-navbar .Icon .search .input-group input {
  width: 187px;
  position: absolute;
  border-radius: unset;
}

header .header-bottom .container .row .custom-navbar .Icon .search .input-group button {
  position: absolute;
  left: 188px;
  background: gray;
  color: white;
  border-radius: unset;
}

header .header-bottom .container .row .custom-navbar .Icon .top1 {
  width: 31px;
  height: 31px;
  line-height: 33px;
  border-radius: 500%;
  color: white;
  font-size: 12px;
  text-align: center;
  background: #2C2B5E none repeat scroll 0 0;
}

header .header-bottom .container .row .custom-navbar-responsive {
  display: none;
}

header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item {
  position: relative;
}

header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-link {
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  padding: 0px 15px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-weight: 600;
  line-height: 58px;
  width: 100%;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-dropdown {
  position: absolute;
  background: #ffffff none repeat scroll 0 0;
  width: 185px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  padding: 10px 18px;
  transition: all 0.3s linear;
  display: none;
}

header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-dropdown .custom-dropdown-item {
  padding: 11px 0px;
}

header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-dropdown .custom-dropdown-item a {
  text-decoration: none;
  color: #303030;
}

header .header-bottom .container .row .menu-items {
  display: none;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

header .header-bottom .container .row .menu-items a {
  margin-right: 8px;
  font-size: 22px;
  color: #2C2B5E;
}

header .header-bottom .container .row .menu-items a .fa-search {
  width: 31px;
  height: 31px;
  line-height: 33px;
  border-radius: 500%;
  color: white;
  font-size: 12px;
  text-align: center;
  background: #2C2B5E none repeat scroll 0 0;
}

.scrolled {
  top: 0;
  transition: all 0.5s;
  background-color: white;
  color: black;
}

@media screen and (max-width: 1200px) {
  header .header-top::before {
    right: 38.8%;
  }
  header .header-top .container .row .sidebar-right::after {
    left: -31%;
    content: "";
  }
  header .header-bottom .container .row .media {
    padding: 47px 0px 33px;
  }
}

@media screen and (max-width: 992px) {
  header .header-top::before {
    right: 40.8%;
  }
  header .header-top .container .row .sidebar-right::after {
    left: -39%;
    content: "";
  }
  header .header-bottom .container .row .media {
    padding: 38px 0px 15px;
  }
  header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item .custom-nav-link {
    line-height: 111px;
    font-size: 13px;
    padding: 0px 8px;
  }
  header .header-bottom .container .row .custom-navbar .Icon {
    line-height: 111px;
  }
}

@media screen and (max-width: 768px) {
  header .header-top {
    background-color: #2C2B5E;
  }
  header .header-top::after {
    display: none;
  }
  header .header-top::before {
    display: none;
  }
  header .header-top .container .row .sidebar-left {
    text-align: center;
  }
  header .header-top .container .row .sidebar-left p {
    line-height: 24px;
  }
  header .header-top .container .row .sidebar-right::after {
    display: none;
  }
  header .header-top .container .row .sidebar-right ul {
    line-height: 51px;
    list-style: none;
    margin-left: 48px;
    display: flex;
    justify-content: center;
  }
  header .header-top .container .row .sidebar-right ul li {
    margin-right: unset;
  }
  header .header-top .container .row .sidebar-right ul li a {
    padding-right: 35px;
  }
  header .header-bottom .container .row .media {
    padding: 19px 0px 15px;
  }
  header .header-bottom .container .row .custom-navbar {
    display: none;
  }
  header .header-bottom .container .row .custom-navbar-responsive {
    display: none;
  }
  header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container {
    border: 1px solid #80808075;
  }
  header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .plus {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-color: currentcolor currentcolor rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.35);
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    font-weight: 700;
    height: 50px;
    line-height: 33px;
    margin-top: 1px;
    padding: 11.5px 12px;
    position: absolute;
    right: 0;
    text-align: center;
    color: black;
    text-decoration: none;
    top: 0;
    width: 56px;
    z-index: 2;
  }
  header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-link {
    line-height: 50px;
  }
  header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-dropdown {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    padding: 0;
    transition: all 0.3s linear;
    box-shadow: none;
  }
  header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-dropdown .custom-dropdown-item {
    padding: 0;
  }
  header .header-bottom .container .row .custom-navbar-responsive .custom-nav-container .custom-nav-item .custom-nav-dropdown .custom-dropdown-item a {
    text-decoration: none;
    color: #303030;
    text-transform: uppercase;
    padding: 0px 60px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-weight: 600;
    line-height: 50px;
    width: 100%;
    border-bottom: 1px solid;
  }
  header .header-bottom .container .row .menu-items {
    display: flex;
    margin-top: -1px;
  }
}

@media screen and (max-width: 576px) {
  header .header-bottom .container .row .media {
    padding: 5px 0px 15px;
  }
  header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item .custom-nav-link {
    line-height: 56px;
  }
  header .header-bottom .container .row .menu-items {
    display: flex;
    margin-top: -1px;
  }
}

@media screen and (max-width: 376px) {
  header .header-bottom .container .row .media {
    padding: 12px 0px 15px;
  }
  header .header-bottom .container .row .custom-navbar .custom-nav-container .custom-nav-item .custom-nav-link {
    line-height: 56px;
  }
  header .header-bottom .container .row .menu-items {
    display: flex;
    margin-top: -1px;
  }
}

#custom-slider {
  position: relative;
  z-index: 8;
  transition: all 0.5s linear;
  overflow: hidden;
  margin-top: 37px;
}

#custom-slider:hover .carousel-control-prev-icon {
  left: 0;
}

#custom-slider:hover .carousel-control-next-icon {
  right: 0;
}

#custom-slider button {
  width: 35px;
}

#custom-slider button .carousel-control-prev-icon {
  position: absolute;
  left: -45px;
  transition: all 0.3s linear;
}

#custom-slider button .carousel-control-next-icon {
  position: absolute;
  right: -45px;
  transition: all 0.3s linear;
}

#custom-slider button span {
  background: #EC1C23;
  border-radius: 3px;
}

#custom-slider button span i {
  line-height: 33px;
}

#custom-slider .carousel-fade {
  z-index: 10;
}

#custom-slider .carousel-fade .carousel-inner .carousel-item img {
  opacity: 0.6;
}

#custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area {
  position: absolute;
  top: 37%;
  left: 18%;
  text-align: center;
  color: white;
}

#custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list h2 {
  font-size: 58px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  line-height: 82px;
}

#custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list p {
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

#custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list a {
  text-decoration: none;
  color: white;
  width: 154.1px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 38.6px;
  display: inline-block;
  line-height: 38.6px;
  background: #EC1C23;
  transition: all 0.3s linear;
}

#custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list a:hover {
  background-color: #fff;
  color: #EC1C23;
}

#custom-slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #000000;
}

@media screen and (max-width: 1200px) {
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list h2 {
    font-size: 42px;
    line-height: 72px;
  }
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list p {
    font-size: 15px;
    margin-bottom: 33px;
  }
  #custom-slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list h2 {
    font-size: 45px;
    line-height: 50px;
  }
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list p {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 768px) {
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list h2 {
    font-size: 31px;
    line-height: 37px;
  }
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list p {
    font-size: 15px;
    margin-bottom: 19px;
  }
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list a {
    width: 133.1px;
    height: 36.6px;
  }
}

@media screen and (max-width: 576px) {
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list h2 {
    font-size: 24px;
    line-height: 25px;
  }
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list p {
    font-size: 13px;
    margin-bottom: 14px;
  }
  #custom-slider .carousel-fade .carousel-inner .carousel-item .slider-content-area .container .row .slider-content-wrapper .slider-content-list a {
    line-height: 33.6px;
    width: 116.1px;
    height: 32.6px;
  }
}

#Professional {
  padding-top: 150px;
}

#Professional .container .row .item .card {
  width: 100% !important;
  height: 100%;
}

#Professional .container .row .item .card .card-body {
  padding: 40px;
}

#Professional .container .row .item .card .card-body h5 {
  font-size: 20px;
  color: #303030;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 12px;
}

#Professional .container .row .item .card .card-body p {
  font-size: 14px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
  line-height: 25px;
}

@media screen and (max-width: 1200px) {
  #Professional .container .row .item .card .card-body h5 {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  #Professional .container .row .item .card .card-body {
    padding: 20px;
  }
  #Professional .container .row .item .card .card-body h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  #Professional .container .row .item .card .card-body p {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  #Professional .container .row .item {
    margin-bottom: 18px;
  }
}

#eduhome {
  padding: 150px 0px;
}

#eduhome .container .row .edu-content h2 {
  font-size: 34px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #303030;
  margin-top: 100px;
}

#eduhome .container .row .edu-content h2 span {
  color: #EC1C23;
}

#eduhome .container .row .edu-content p {
  font-size: 14px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 15px;
  line-height: 24px;
}

#eduhome .container .row .edu-content a {
  text-decoration: none;
  color: white;
  width: 154.1px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 38.6px;
  display: inline-block;
  line-height: 38.6px;
  background: #EC1C23;
  text-align: center;
  transition: all 0.3s linear;
}

#eduhome .container .row .edu-content a:hover {
  background-color: #2C2B5E;
}

#eduhome .container .row .edu-media {
  position: relative;
  z-index: 1;
}

#eduhome .container .row .edu-media img {
  max-width: 100%;
}

#eduhome .container .row .edu-media::after {
  content: "";
  border: 10px solid #EBEBEB;
  left: 0;
  bottom: -5px;
  z-index: -1;
  width: 100%;
  height: 88%;
  position: absolute;
}

@media screen and (max-width: 1200px) {
  #eduhome .container .row .edu-content h2 {
    margin-top: 62px;
  }
}

@media screen and (max-width: 992px) {
  #eduhome .container .row .edu-content h2 {
    font-size: 22px;
    margin-top: 43px;
  }
  #eduhome .container .row .edu-content .second {
    display: none;
  }
  #eduhome .container .row .edu-content a {
    margin-top: 15px;
  }
  #eduhome .container .row .edu-media {
    padding: 0 20px;
  }
}

#courses {
  padding: 150px 0px;
  background-image:  url(/assets/image/course-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

#courses .container {
  z-index: 16;
  position: relative;
}

#courses .container .row .section-title {
  text-align: center;
}

#courses .container .row .section-title img {
  margin-bottom: 10px;
}

#courses .container .row .section-title h2 {
  font-size: 34px;
  color: white;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 62px;
  text-transform: uppercase;
}

#courses .container .row .custom-card-items {
  display: flex;
}

#courses .container .row .custom-card-items .card {
  margin-right: 35px;
  height: 100%;
}

#courses .container .row .custom-card-items .card .media-5 {
  position: relative;
  transition: all 0.3s linear;
}

#courses .container .row .custom-card-items .card .media-5:hover .course-hover {
  opacity: 1;
}

#courses .container .row .custom-card-items .card .media-5:hover .overlay {
  opacity: 1;
}

#courses .container .row .custom-card-items .card .media-5 img {
  max-width: 100%;
}

#courses .container .row .custom-card-items .card .media-5 .course-hover {
  position: absolute;
  transition: all 0.3s linear;
  z-index: 1;
  opacity: 0;
  top: left;
  top: 125.1px;
  left: 189.495px;
}

#courses .container .row .custom-card-items .card .media-5 .course-hover i {
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease 0s;
}

#courses .container .row .custom-card-items .card .media-5 .overlay {
  position: absolute;
  opacity: 0;
  background: #ec1c2387;
  transition: all 0.3s linear;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#courses .container .row .custom-card-items .card .card-body {
  padding: 38px;
}

#courses .container .row .custom-card-items .card .card-body h3 {
  font-size: 22px;
  color: #303030;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

#courses .container .row .custom-card-items .card .card-body h3:hover {
  color: #EC1C23;
}

#courses .container .row .custom-card-items .card .card-body h3 a {
  text-decoration: none;
  color: inherit;
}

#courses .container .row .custom-card-items .card .card-body p {
  font-size: 14px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  width: 100%;
  line-height: 23px;
}

#courses .container .row .custom-card-items .card .btn {
  border-radius: unset;
  padding: 9px 16px;
  background: #EC1C23;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

#courses .container .row .custom-card-items .card .btn:hover {
  background: #2C2B5E;
}

#courses .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 43, 94, 0.92);
}

@media screen and (max-width: 992px) {
  #courses .hidden-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #courses .hidden-md {
    display: block;
  }
  #courses .container .row .custom-card-items {
    display: block;
  }
  #courses .container .row .custom-card-items .card {
    margin-right: unset;
    margin-bottom: 24px;
  }
}

#video {
  padding: 150px 0px;
}

#video .container .row .content-video {
  margin-right: 27px;
}

#video .container .row .content-video h3 {
  margin-bottom: 33px;
  color: #2C2B5E;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

#video .container .row .content-video .notice-video {
  background-image:  (/image/video.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 382px;
  width: 100%;
}

#video .container .row .content-video .notice-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(44, 43, 94, 0.9);
  height: 100%;
}

#video .container .row .content-video .notice-video .video-icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#video .container .row .content-video .notice-video .video-icon a {
  transition: all 0.3s ease 0s;
}

#video .container .row .content-video .notice-video .video-icon a i {
  font-size: 38px;
  color: #2B2A5A;
  background: #FFFFFF;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  line-height: 56px;
  text-align: center;
  transition: all 0.5s ease 0s;
}

#video .container .row .notice-left-wrapper h3 {
  margin-bottom: 33px;
  color: #2C2B5E;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

#video .container .row .notice-left {
  padding: 33px 58px 31px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  height: 380px;
  overflow: scroll;
}

#video .container .row .notice-left .single-notice-left {
  border-bottom: 1px solid #E7E7E7;
  padding: 20px 0px;
}

#video .container .row .notice-left .single-notice-left h4 {
  font-family: #EC1C23;
  font-size: 16px;
  color: #EC1C23;
  font-weight: 700;
  margin-bottom: 5px;
}

#video .container .row .notice-left .single-notice-left p {
  font-family: #EC1C23;
  font-size: 14px;
  color: #303030;
  line-height: 24px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
  #video .container .row .notice-left {
    overflow: scroll;
    padding: 26px 15px;
  }
}

@media screen and (max-width: 992px) {
  #video .container .row .content-video {
    margin-right: unset;
  }
  #video .container .row .content-video .notice-video {
    height: 320px;
  }
  #video .container .row .notice-left {
    padding: 38px 28px;
    height: 320px;
  }
}

@media screen and (max-width: 768px) {
  #video .container .row .content-video {
    padding-bottom: 75px;
  }
}

#events {
  padding-bottom: 100px;
}

#events .container .row .event-media {
  text-align: center;
}

#events .container .row .event-media img {
  max-width: 100%;
  margin-bottom: 8px;
}

#events .container .row .event-media h2 {
  font-size: 34px;
  color: #2c2b5e;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 62px;
  text-transform: uppercase;
}

#events .container .row .card {
  box-shadow: 0px 0px 6px 0px #0000002b;
  margin-bottom: 25px !important;
}

#events .container .row .card img {
  max-width: 100%;
}

#events .container .row .card .card-body h3 {
  font-size: 20px;
  font-weight: 700;
  color: #2C2B5E;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}

#events .container .row .card .card-body h4 {
  margin-bottom: 5px;
  transition: all 0.5s linear;
  font-weight: 700;
  margin: 13px 0px;
}

#events .container .row .card .card-body h4 a {
  font-size: 18px;
  font-weight: 700;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s linear;
  text-decoration: none;
}

#events .container .row .card .card-body h4 a:hover {
  color: #EC1C23;
}

#events .container .row .card .card-body ul {
  display: flex;
  color: #606060;
  margin: 10px 0px;
}

#events .container .row .card .card-body ul li {
  margin-right: 14px;
}

#events .container .row .card .card-body ul li i {
  margin-right: 10px;
}

#events .container .row .card .card-body .event-right {
  padding: 6px 0px;
}

#events .container .row .card .card-body .event-right a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 8px 15px;
  border: 1px solid #E1E1E1;
  transition: all 0.3s linear;
}

#events .container .row .card .card-body .event-right a:hover {
  background: #EC1C23;
  color: white;
}

@media screen and (max-width: 2000px) {
  #events .container .row .offset-2 {
    margin-left: unset;
  }
}

@media screen and (max-width: 1200px) {
  #events .container .row .offset-2 {
    margin-left: unset;
  }
  #events .container .row .card img {
    height: 100%;
  }
  #events .container .row .card .card-body h4 a {
    font-size: 13px;
  }
  #events .container .row .card .card-body ul li {
    font-size: 13px;
  }
  #events .container .row .card .card-body .event-right a:hover {
    background: #EC1C23;
    color: white;
  }
}

@media screen and (max-width: 992px) {
  #events .container .row .hidden-md {
    display: none;
  }
  #events .container .row .offset-2 {
    margin-left: 16.6666666667%;
  }
  #events .container .row .card .card-body .event-right a:hover {
    background: #EC1C23;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  #events .container .row .offset-2 {
    margin-left: unset;
  }
  #events .container .row .card img {
    width: 100%;
  }
  #events .container .row .card .card-body .event-right a:hover {
    background: #EC1C23;
    color: white;
  }
}

@media screen and (max-width: 576px) {
  #events .container .row .card .card-body .event-right a:hover {
    background: #EC1C23;
    color: white;
  }
}

#Morgan {
  background-image:  (/image/testimonial-bg.jpg);
  padding: 110px 0px;
  position: relative;
}

#Morgan .container .row .owl-items {
  z-index: 1;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
}

#Morgan .container .row .owl-items .owl-carousel {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Morgan .container .row .owl-items .owl-carousel .owl-media {
  margin-bottom: 21px;
}

#Morgan .container .row .owl-items .owl-carousel .owl-media img {
  border-radius: 50%;
}

#Morgan .container .row .owl-items .owl-carousel .owl-content p {
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
}

#Morgan .container .row .owl-items .owl-carousel .owl-content h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

#Morgan .container .row .owl-items .owl-carousel .owl-content h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

#Morgan .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 43, 94, 0.92);
}

#Lastest {
  padding: 150px 0px;
}

#Lastest .container .row .latest-media {
  text-align: center;
}

#Lastest .container .row .latest-media img {
  margin-bottom: 10px;
}

#Lastest .container .row .latest-media h2 {
  font-size: 34px;
  color: #2C2B5E;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 62px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

#Lastest .container .row .card {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

#Lastest .container .row .card .media-5 {
  position: relative;
  transition: all 0.3s linear;
}

#Lastest .container .row .card .media-5:hover .course-hover {
  opacity: 1;
}

#Lastest .container .row .card .media-5:hover .overlay {
  opacity: 1;
}

#Lastest .container .row .card .media-5 img {
  max-width: 100%;
}

#Lastest .container .row .card .media-5 .course-hover {
  position: absolute;
  transition: all 0.3s linear;
  z-index: 1;
  opacity: 0;
  top: left;
  top: 125.1px;
  left: 202.495px;
}

#Lastest .container .row .card .media-5 .course-hover i {
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease 0s;
}

#Lastest .container .row .card .media-5 .overlay {
  position: absolute;
  opacity: 0;
  background: #ec1c2373;
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#Lastest .container .row .card .card-body .blog-top p {
  font-size: 14px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  padding: 15px 20px 10px 25px;
  border-bottom: 1px solid #E1E1E1;
}

#Lastest .container .row .card .card-body .blog-bottom h2 {
  padding: 15px 20px 10px 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

#Lastest .container .row .card .card-body .blog-bottom h2 a {
  text-decoration: none;
  color: #303030;
  transition: all 0.3s linear;
}

#Lastest .container .row .card .card-body .blog-bottom h2 a:hover {
  color: #EC1C23;
}

#Lastest .container .row .card .card-body .blog-bottom .mybtn {
  text-decoration: none;
  font-size: 14px;
  color: #EC1C23;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 15px 20px 10px 25px;
}

@media screen and (max-width: 992px) {
  #Lastest .hidden-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #Lastest .hidden-md {
    display: block;
  }
  #Lastest .container .row .card {
    margin-bottom: 28px;
  }
}

#subscribe {
  background: #FAFAFA;
  padding: 70px 0px;
}

#subscribe .container .row .subscribe-content {
  text-align: center;
}

#subscribe .container .row .subscribe-content h2 {
  font-size: 34px;
  color: #2C2B5E;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 62px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#subscribe .container .row .subscribe-content p {
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

#subscribe .container .row .subscripe-input input {
  border-radius: unset;
  background: #FAFAFA;
}

#subscribe .container .row .subscripe-input button {
  padding: 11px 40px;
  border-radius: unset;
  background: #EC1C23;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s linear;
}

#subscribe .container .row .subscripe-input button:hover {
  background-color: #2C2B5E;
}

@media screen and (max-width: 992px) {
  #subscribe .offset-2 {
    margin-left: unset;
  }
}

footer #main-footer {
  padding: 117px 0px 104px;
}

footer #main-footer .container .row .first-table {
  padding-right: 60px;
}

footer #main-footer .container .row .first-table .footer-media {
  margin-bottom: 10px;
}

footer #main-footer .container .row .first-table .footer-media img {
  max-width: 100%;
}

footer #main-footer .container .row .first-table p {
  color: #7d7d7d;
  width: 310px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 15px;
}

footer #main-footer .container .row .first-table .footer-social ul {
  list-style: none;
  display: flex;
  margin-top: 25px;
}

footer #main-footer .container .row .first-table .footer-social ul li {
  color: #7d7d7d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  text-transform: capitalize;
  margin: 0px 13px 16px 0px;
}

footer #main-footer .container .row .first-table .footer-social ul li a {
  border: 1px solid #DADADA;
  color: #7D7D7D;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 26px;
  transition: all 0.5s ease;
}

footer #main-footer .container .row .first-table .footer-social ul li a:hover {
  background-color: #EC1C23;
  color: #fff;
}

footer #main-footer .container .row .single-widget .end {
  margin-bottom: 39px;
}

footer #main-footer .container .row .single-widget h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #606060;
  margin-bottom: 45px;
  position: relative;
}

footer #main-footer .container .row .single-widget h3::before {
  background: #606060 none repeat scroll 0 0;
  bottom: -13px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 45px;
}

footer #main-footer .container .row .single-widget h3::after {
  background: #606060 none repeat scroll 0 0;
  bottom: -10px;
  content: "";
  height: 0.8px;
  left: 0;
  position: absolute;
  width: 57px;
}

footer #main-footer .container .row .single-widget p {
  color: #7d7d7d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 15px;
}

footer #main-footer .container .row .single-widget ul li {
  color: #7d7d7d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
}

footer #main-footer .container .row .single-widget ul li a {
  color: #606060;
  text-decoration: none;
  transition: all 0.3s linear;
}

footer #main-footer .container .row .single-widget ul li a:hover {
  color: #EC1C23;
}

footer #main-footer .container .row .col-lg-3:last-child {
  padding-left: 75px;
  height: 213px;
}

footer #footer-bottom {
  text-align: center;
  background: #2C2B5E;
}

footer #footer-bottom p {
  font-size: 14px;
  line-height: 60px;
  margin-bottom: 2px;
  font-family: "Open Sans", sans-serif;
  color: #c7c7c7;
}

footer #footer-bottom p a {
  text-decoration: none;
  color: #fff;
}

footer #scrollup {
  background: #EC1C23 none repeat scroll 0 0;
  position: fixed;
  z-index: 2147483647;
  display: block;
  border-radius: 2px;
  bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 45px;
  position: fixed;
  right: 15px;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 40px;
}

@media screen and (max-width: 1200px) {
  footer #main-footer .container .row .first-table p {
    width: 279px;
  }
  footer #main-footer .container .row .single-widget h3 {
    font-size: 18px;
  }
  footer #main-footer .container .row .col-lg-3:last-child {
    padding-left: 27px;
  }
}

@media screen and (max-width: 992px) {
  footer #main-footer .container .row .col-md-6 {
    margin-bottom: 60px;
  }
  footer #main-footer .container .row .first-table p {
    width: 297px;
  }
  footer #main-footer .container .row .col-lg-3:last-child {
    padding-left: 11px;
  }
}

#about {
  background-image:  (/../image/banner.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
  margin-top: 130px;
}

#about .container .row .banner-content-wrapper .banner-content {
  padding: 132px 0 134px;
  position: relative;
  z-index: 11;
}

#about .container .row .banner-content-wrapper .banner-content h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#about .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000b0;
}

#Teacher {
  padding-bottom: 150px;
}

#Teacher .teacher-media {
  text-align: center;
}

#Teacher .teacher-media img {
  max-width: 100%;
  margin-bottom: 10px;
}

#Teacher .teacher-media h2 {
  font-size: 34px;
  color: #2C2B5E;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 62px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

#Teacher .single {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

#Teacher .single:hover .single-teacher-content {
  bottom: 0;
}

#Teacher .single:hover .single-teacher a::after {
  opacity: 1;
}

#Teacher .single .single-teacher {
  padding-bottom: 75px;
}

#Teacher .single .single-teacher a::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  height: 100%;
  content: "";
  background: rgba(231, 231, 231, 0.84);
  opacity: 0;
  transition: all 0.5s ease 0s;
}

#Teacher .single .single-teacher a img {
  width: 100%;
}

#Teacher .single .single-teacher-content {
  transition: all 0.3s linear;
  text-align: center;
  padding: 16px 0px;
  position: absolute;
  bottom: -60px;
  width: 100%;
  background: white;
}

#Teacher .single .single-teacher-content h2 {
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 3px;
  text-transform: uppercase;
}

#Teacher .single .single-teacher-content h2 a {
  text-decoration: none;
  color: inherit;
}

#Teacher .single .single-teacher-content h4 {
  color: #929292;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}

#Teacher .single .single-teacher-content ul {
  display: flex;
  justify-content: center;
  transition: all 0.3s linear;
  transform: scaleY(45deg);
}

#Teacher .single .single-teacher-content ul li {
  margin-right: 5px;
}

#Teacher .single .single-teacher-content ul li a {
  display: inline-block;
  font-size: 15px;
  color: #2c2b5e;
  background: #F6F6F6;
  height: 40px;
  width: 38px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s linear;
}

#Teacher .single .single-teacher-content ul li a:hover {
  background-color: #EC1C23;
  color: #fff;
}

@media screen and (max-width: 992px) {
  #Teacher .hidden-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #Teacher .single {
    margin-bottom: 47px;
  }
}

#search-courses {
  padding: 150px 0px;
  position: relative;
}

#search-courses .container .row .courses-title h3 {
  background: #2C2B5E;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  padding: 16px 93px 16px 27px;
  display: inline-block;
  position: relative;
}

#search-courses .container .row .courses-title h3::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 85px;
  position: absolute;
  right: -26px;
  top: -17px;
  transform: rotate(-30deg);
  width: 45px;
}

#search-courses .container .row .courses-form {
  padding-bottom: 23px;
}

#search-courses .container .row .courses-form input {
  border-radius: unset;
  background: #FAFAFA;
}

#search-courses .container .row .courses-form button {
  height: 50px;
  width: 185px;
  border-radius: unset;
  background: #EC1C23;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

#search-courses .container .row .col-lg-4 {
  margin-bottom: 70px;
}

#search-courses .container .row .card {
  height: 100%;
}

#search-courses .container .row .card .media-5 {
  position: relative;
  transition: all 0.3s linear;
}

#search-courses .container .row .card .media-5:hover .course-hover {
  opacity: 1;
}

#search-courses .container .row .card .media-5:hover .overlay {
  opacity: 1;
}

#search-courses .container .row .card .media-5 img {
  max-width: 100%;
}

#search-courses .container .row .card .media-5 .course-hover {
  position: absolute;
  transition: all 0.3s linear;
  z-index: 1;
  opacity: 0;
  top: left;
  top: 125.1px;
  left: 189.495px;
}

#search-courses .container .row .card .media-5 .course-hover i {
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease 0s;
}

#search-courses .container .row .card .media-5 .overlay {
  position: absolute;
  opacity: 0;
  background: #ec1c2387;
  transition: all 0.3s linear;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#search-courses .container .row .card .card-body {
  padding: 38px;
}

#search-courses .container .row .card .card-body h3 {
  font-size: 22px;
  color: #303030;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

#search-courses .container .row .card .card-body h3:hover {
  color: #EC1C23;
}

#search-courses .container .row .card .card-body h3 a {
  text-decoration: none;
  color: inherit;
}

#search-courses .container .row .card .card-body p {
  font-size: 14px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  width: 100%;
  line-height: 23px;
}

#search-courses .container .row .card .btn {
  border-radius: unset;
  padding: 9px 16px;
  background: #EC1C23;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

#search-courses .container .row .card .btn:hover {
  background: #2C2B5E;
}

@media screen and (max-width: 992px) {
  #search-courses .hidden-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #search-courses .hidden-md {
    display: block;
  }
  #search-courses .container .row .custom-card-items {
    display: block;
  }
  #search-courses .container .row .custom-card-items .card {
    margin-right: unset;
    margin-bottom: 24px;
  }
}

#Login {
  padding: 150px 0px;
}

#Login .container .row .login {
  text-align: center;
}

#Login .container .row .login .login-form-container {
  padding: 37px 40px;
  overflow: hidden;
  background: #f5f5f5 none repeat scroll 0 0;
}

#Login .container .row .login .login-form-container .login-text h2 {
  font-weight: 600;
  color: #444;
  font-size: 30px;
  margin-bottom: 16px;
  text-transform: capitalize;
}

#Login .container .row .login .login-form-container .login-text span {
  font-size: 15px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 38px;
  display: inline-block;
}

#Login .container .row .login .login-form-container .login-form form {
  position: relative;
}

#Login .container .row .login .login-form-container .login-form form .qeydiyyat {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  color: #666666;
  margin-bottom: 20px;
  font-size: 15px;
  height: 40px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border: medium none rgba(0, 0, 0, 0);
  box-shadow: none;
}

#Login .container .row .login .login-form-container .login-form form .button-box .login-toggle-btn .check label {
  position: absolute;
  left: 21px;
}

#Login .container .row .login .login-form-container .login-form form .button-box .login-toggle-btn .check input {
  position: absolute;
  left: 0;
  width: 17px;
  height: 15px;
}

#Login .container .row .login .login-form-container .login-form form .button-box .login-toggle-btn a {
  position: absolute;
  right: 0;
  color: #EC1C23;
}

#Login .container .row .login .login-form-container .login-form form .button-box button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #EC1C23;
  border-radius: 30px;
  color: #EC1C23;
  font-size: 14px;
  margin-top: 57px;
  margin-right: 500px;
  padding: 8px 36px;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  #Login .container .row .offset-3 {
    margin-left: unset;
  }
}

#contact {
  padding: 150px 0px;
}

#contact .container .row .contact-contents {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
  padding: 55px 0;
  margin-right: 65px;
}

#contact .container .row .contact-contents .single-content .contact-icon {
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  height: 50px;
  margin: auto auto 20px;
  position: relative;
  text-align: center;
  line-height: 64px;
  width: 50px;
}

#contact .container .row .contact-contents .single-content .contact-add {
  margin-bottom: 65px;
  text-align: center;
}

#contact .container .row .contact-contents .single-content .contact-add h3 {
  font-size: 18px;
  color: #303030;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  margin-bottom: 8px;
}

#contact .container .row .contact-contents .single-content .contact-add p {
  font-size: 16px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 9px;
}

#contact .container .row .reply-area textarea {
  width: 100%;
}

#contact .container .row .reply-area h3 {
  font-size: 20px;
  color: #303030;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
  font-weight: 700;
}

#contact .container .row .reply-area p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #606060;
  font-weight: 400;
  margin-bottom: 26px;
  line-height: 24px;
}

#contact .container .row .reply-area form .mb-3 {
  margin-bottom: 20px !important;
}

#contact .container .row .reply-area form textarea {
  border-color: #c0bebe;
}

#contact .container .row .reply-area form input {
  border-radius: unset;
}

#contact .container .row .reply-area form button {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 27px;
  font-family: "Open Sans", sans-serif;
  background: #2C2B5E;
  border: none;
  font-size: 14px;
  padding: 8px 28px;
  border-radius: unset;
}

#contact .container .row .reply-area form label {
  font-size: 14px;
  color: #030303;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1200px) {
  #contact {
    padding: 150px 0px;
  }
  #contact .container .row .contact-contents {
    margin-right: unset;
  }
}

@media screen and (max-width: 992px) {
  #contact {
    padding: 150px 0px;
  }
  #contact .container .row .contact-contents {
    margin-right: unset;
  }
  #contact .container .row .reply-area {
    margin-top: 65px;
  }
}

#contact-map {
  position: relative;
}

#contact-map iframe {
  width: 100%;
  z-index: 2;
  opacity: 0.5;
  position: relative;
}

#contact-map .contact-media {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
}

#contact-map .contact-media img {
  width: 50px;
  height: 50px;
}

#contact-map .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background: black;
}

#courses-details {
  margin-top: 132px;
}

#courses-details .left {
  margin-bottom: 76px;
}

#courses-details .courses-media img {
  max-width: 100%;
}

#courses-details .courses-content {
  padding-top: 35px;
  overflow: hidden;
}

#courses-details .courses-content h2 {
  font-size: 28px;
  color: #303030;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

#courses-details .courses-content p {
  font-size: 14px;
  color: #606060;
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

#courses-details .details-left .single-details h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #303030;
  margin-bottom: 14px;
}

#courses-details .details-left .single-details p {
  font-size: 14px;
  color: #606060;
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

#courses-details .details-right {
  padding: 45px 35px 45px;
  border: 1px solid #E1E1E1;
  margin: 0px 30px;
}

#courses-details .details-right h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #303030;
  margin-bottom: 50px;
}

#courses-details .details-right ul li {
  display: block;
  font-size: 14px;
  color: #303030;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EBEBEB;
}

#courses-details .details-right ul li:last-child {
  border-bottom: none;
}

#courses-details .details-right ul li span {
  float: right;
}

#courses-details .details-right .fee {
  color: #EC1C23;
  margin-bottom: 0;
}

#courses-details .reply-area textarea {
  width: 100%;
}

#courses-details .reply-area h3 {
  font-size: 20px;
  color: #303030;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
  font-weight: 700;
}

#courses-details .reply-area p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #606060;
  font-weight: 400;
  margin-bottom: 26px;
  line-height: 24px;
}

#courses-details .reply-area form .mb-3 {
  margin-bottom: 20px !important;
}

#courses-details .reply-area form textarea {
  border-color: #c0bebe;
}

#courses-details .reply-area form input {
  border-radius: unset;
}

#courses-details .reply-area form button {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 27px;
  font-family: "Open Sans", sans-serif;
  background: #2C2B5E;
  border: none;
  font-size: 14px;
  padding: 8px 28px;
  border-radius: unset;
}

#courses-details .reply-area form label {
  font-size: 14px;
  color: #030303;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}

#courses-details .blog-sidebar {
  margin-left: 70px;
}

#courses-details .blog-sidebar .single-blog-widget {
  margin-bottom: 50px;
}

#courses-details .blog-sidebar .single-blog-widget h3 {
  font-size: 20px;
  color: #303030;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 35px;
  line-height: 26px;
}

#courses-details .blog-sidebar .single-blog-widget .blog-search .input-group {
  width: 300px;
}

#courses-details .blog-sidebar .single-blog-widget .blog-search .input-group input {
  border-radius: unset;
}

#courses-details .blog-sidebar .single-blog-widget .blog-search .input-group button {
  border-radius: unset;
  transition: all 0.3s linear;
}

#courses-details .blog-sidebar .single-blog-widget .blog-search .input-group button:hover {
  background-color: #EC1C23 !important;
  color: #fff;
}

#courses-details .blog-sidebar .single-blog-widget ul li {
  display: block;
  padding-bottom: 27px;
}

#courses-details .blog-sidebar .single-blog-widget ul li a {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #606060;
  text-decoration: none;
  transition: all 0.3s linear;
}

#courses-details .blog-sidebar .single-blog-widget ul li a:hover {
  color: #EC1C23;
}

#courses-details .blog-sidebar .single-blog-widget .single-blog-banner {
  position: relative;
}

#courses-details .blog-sidebar .single-blog-widget .single-blog-banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0303038a;
}

#courses-details .blog-sidebar .single-blog-widget .single-blog-banner a {
  position: relative;
  display: block;
}

#courses-details .blog-sidebar .single-blog-widget .single-blog-banner h2 {
  position: absolute;
  left: 20px;
  bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fefefe;
  z-index: 9;
  line-height: 35px;
}

#courses-details .blog-sidebar .single-blog-widget .single-post .card {
  border: none;
}

#courses-details .blog-sidebar .single-blog-widget .single-post .card .card-body {
  padding: 10px 0px;
}

#courses-details .blog-sidebar .single-blog-widget .single-post .card .card-body h4 {
  color: #303030;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 18px;
  margin-top: 5px;
}

#courses-details .blog-sidebar .single-blog-widget .single-post .card .card-body h4 a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s linear;
}

#courses-details .blog-sidebar .single-blog-widget .single-post .card .card-body h4 a:hover {
  color: #EC1C23;
}

#courses-details .blog-sidebar .single-blog-widget .single-post .card .card-body p {
  color: #606060;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
}

#courses-details .blog-sidebar .single-blog-widget .single-tag a {
  float: left;
  text-transform: capitalize;
  border: 1px solid #E1E1E1;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  display: block;
  color: #606060;
  transition: all 0.5s ease 0s;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 8px;
}

#courses-details .blog-sidebar .single-blog-widget .single-tag a:hover {
  background: #2C2B5E;
  color: #fff;
}

@media screen and (max-width: 1500px) {
  #courses-details .container .blog-sidebar .single-blog-widget .single-post .card .card-body {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1200px) {
  #courses-details .container .details-right {
    padding: 45px 17px 45px;
    margin: 0px 11px;
  }
  #courses-details .container .blog-sidebar {
    margin-left: 33px;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .single-tag a {
    font-size: 12px;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .single-post .card .card-body {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 992px) {
  #courses-details .container .details-right {
    margin: unset;
  }
  #courses-details .container .blog-sidebar {
    margin-left: unset;
    margin-top: 41px;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .single-tag a {
    font-size: 14px;
    margin-bottom: 38px;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .blog-search .input-group {
    width: unset;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .single-blog-banner {
    width: 306px;
  }
}

@media screen and (max-width: 768px) {
  #courses-details .container .blog-sidebar .single-blog-widget .single-tag a {
    font-size: 12px;
    margin-bottom: 38px;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .single-blog-banner {
    width: 100%;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .single-blog-banner a img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  #courses-details .container .blog-sidebar .single-blog-widget .single-blog-banner {
    width: 100%;
  }
  #courses-details .container .blog-sidebar .single-blog-widget .single-blog-banner a img {
    width: 100%;
  }
}
