
@{
    ViewData["Title"] = "Index";
}

<section class="about_sectionOne">
    <div class="container-flued">
        <div class="about_container_image">
            <div class="container">
                <div class="row ">
                    <h2>COURSES</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="search_courses">
    <div class="container-flued">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="form1" class="form-control" placeholder="Search" />
                    </div>
                    <button type="button" class="btn btn-primary">
                        <p>SEARCH</p>
                    </button>
                </div>
                <div class="search_top">
                    <p>SEARCH COURSES</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Courses_blocks">
    <div class="weOffer_bottom  container ">
        <div class="row">
            <div class="card-group">
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course1.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CSE ENGINEERING</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course2.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">political science</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course3.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">micro biology</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-group">
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course4.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CSE ENGINEERING</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course5.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">political science</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course6.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">micro biology</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-group">
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course7.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CSE ENGINEERING</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course8.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">political science</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
                <div class="card">
                    <div class="image_div">
                        <img src="~/assets/image/course9.jpg" class="card-img-top" alt="...">
                        <div class="cardRed">
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">micro biology</h5>
                        <p class="card-text">
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human happiness
                        </p>
                        <a href="">Read more</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>