
@{
    ViewData["Title"] = "Index";
}

<section id="about" style="background-image: url(/assets/image/banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-content-wrapper">
                    <div class="banner-content">
                        <h2>COURSES DETAILS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="courses-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-media">
                    <img src="~/assets/image/courses-details.jpg" alt="">
                </div>
                <div class="courses-content">
                    <h2>CSE ENGINEERING</h2>
                    <p>
                        I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness pcias unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit asnatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                    </p>
                </div>
                <div class="row left">
                    <div class="col-lg-6">
                        <div class="details-left">
                            <div class="single-details">
                                <h3>ABOUT COURSE</h3>
                                <p>
                                    I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of human happinescias unde omnis iste natus error sit volptatem accuntium mque laudantium perspiciatis unde omnis
                                    iste natuss
                                </p>
                            </div>
                            <div class="single-details">
                                <h3>HOW TO APPLY</h3>
                                <p>
                                    I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of human happinescias unde omnis iste natus error sit volptatem accuntium mque laudantium perspiciatis unde omnis
                                    iste natuss
                                </p>
                            </div>
                            <div class="single-details">
                                <h3>CERTIFICATION</h3>
                                <p>
                                    I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of human happinescias unde omnis iste natus error sit volptatem accuntium mque laudantium perspiciatis unde omnis
                                    iste natuss
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>25 june, 2017</span></li>
                                <li>duration <span>6 Month</span></li>
                                <li>class duration <span>3 hours</span></li>
                                <li>skill level <span>all level</span></li>
                                <li>language <span>english</span></li>
                                <li>students <span>420</span></li>
                                <li>assesments <span>self</span></li>
                            </ul>
                            <h3 class="fee">COURSE FEE $789</h3>
                        </div>
                    </div>

                </div>
                <div class="reply-area">
                    <h3>LEAVE A MESSAGE</h3>
                    <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of<br> human happinescias unde omnis iste natus error sit volptatem</p>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Message</label>
                            <textarea name="message" id="message" cols="90%" rows="12"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget">
                        <h3>SEARCH</h3>
                        <div class="blog-search">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>CATEGORIES</h3>
                        <ul>
                            <li><a href="#">CSS Engineering (10)</a></li>
                            <li><a href="#">Political Science (12)</a></li>
                            <li><a href="#">Micro Biology (08)</a></li>
                            <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                            <li><a href="#">Web Design (20)</a></li>
                            <li><a href="#">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="single-blog-widget">
                        <div class="single-blog-banner">
                            <a href="">
                                <img src="~/assets/image/blog-img.jpg" alt="">
                            </a>
                            <h2>best<br> eductaion<br> theme</h2>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>LATEST POST</h3>
                        <div class="single-post">
                            <div class="card mb-3">
                                <div class="row g-0 ">
                                    <div class="col-lg-4 col-md-2 col-4">
                                        <img src="~/assets/image/post1.jpg " alt="... ">
                                    </div>
                                    <div class="col-lg-8 col-md-10 col-8">
                                        <div class="card-body">
                                            <h4><a href=" ">English Language Course for you</a></h4>
                                            <p>By Alex / June 20, 2017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="card mb-3">
                                <div class="row g-0 ">
                                    <div class="col-lg-4 col-md-2 col-4">
                                        <img src="~/assets/image/post2.jpg " alt="... ">
                                    </div>
                                    <div class="col-lg-8 col-md-10 col-8">
                                        <div class="card-body">
                                            <h4><a href=" ">English Language Course for you</a></h4>
                                            <p>By Alex / June 20, 2017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="card mb-3">
                                <div class="row g-0 ">
                                    <div class="col-lg-4 col-md-2 col-4">
                                        <img src="~/assets/image/post3.jpg " alt="... ">
                                    </div>
                                    <div class="col-lg-8 col-md-10 col-8">
                                        <div class="card-body">
                                            <h4><a href=" ">English Language Course for you</a></h4>
                                            <p>By Alex / June 20, 2017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a href="blog-details.html" class="mr-10 mb-10">course</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a href="blog-details.html" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a href="blog-details.html">events</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
