
@{
    ViewData["Title"] = "Index";
}

<section class="about_sectionOne">
    <div class="container-flued">
        <div class="about_container_image">
            <div class="container">
                <div class="row ">
                    <h2>ABOUT US</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="welcome_eduhome">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 left_eduhome">
                <h2>WELCOME TO <span>EDUHOME</span> </h2>
                <p>
                    I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was
                    born
                    and I
                    will give you a complete account of the system, and expound the actual teachings the
                    master-builder
                    of humanit happiness
                </p>
                <p>
                    I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was
                    born
                    and I
                    will give you a complete account of the system
                </p>
                <a href="#">VIEW COURSES</a>
            </div>
            <div class="col-lg-6 right_eduhome">
                <img src="~/assets/image/about.png" alt="Image"></col-6>
            </div>
        </div>
    </div>
</div>
<div class="upComming container-flued">

    <div class="container">
        <div class="upComming_top">
            <img src="~/assets/image/section.png" alt="">
            <h2>COURSES WE OFFER</h2>
        </div>
        <div class="upComming_bottom">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="top">
                        <img src="~/assets/image/teacher1.jpg" alt="">
                    </div>
                    <div class="bottom text-center">
                        <h2><a href="teacher-details.html">STUART KELVIN</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/devitemsllc/">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li>
                                <a href="https://twitter.com/devitemsllc"><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="top">
                        <img src="~/assets/image/teacher2.jpg" alt="">
                    </div>
                    <div class="bottom text-center">
                        <h2><a href="teacher-details.html">EAMILY CRISTIAN</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/devitemsllc/">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li>
                                <a href="https://twitter.com/devitemsllc"><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="top">
                        <img src="~/assets/image/teacher3.jpg" alt="">
                    </div>
                    <div class="bottom text-center">
                        <h2><a href="teacher-details.html">KEVIN WILLIAMS</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/devitemsllc/">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li>
                                <a href="https://twitter.com/devitemsllc"><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="top">
                        <img src="~/assets/image/teacher4.jpg" alt="">
                    </div>
                    <div class="bottom text-center">
                        <h2><a href="teacher-details.html">SALINA GOMAZE</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/devitemsllc/">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li>
                                <a href="https://twitter.com/devitemsllc"><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
<div class="DavidMorgan container-flued">
    <div class="owlCaouruselBack"></div>

    <div class="owlCaourusel">
        <div class="owl-carousel owl-theme">
            <div class="item_1 item" id="">
                <div class="DavidImage">
                    <img src="~/assets/image/testimonial.jpg" alt="">
                </div>
                <div class="DavidText">


                    <p>
                        I must explain to you how all this mistaken idea of denoung pleure and praising pain was
                        born
                        and I will give you a coete account of the system, and expound the actual
                    </p>
                    <h4>David Morgan</h4>
                    <h5>Student, CSE</h5>
                </div>
            </div>
            <div class="item_1 item" id="">
                <div class="DavidImage">
                    <img src="~/assets/image/testimonial.jpg" alt="">
                </div>
                <div class="DavidText">


                    <p>
                        I must explain to you how all this mistaken idea of denoung pleure and praising pain was
                        born
                        and I will give you a coete account of the system, and expound the actual
                    </p>
                    <h4>David Morgan</h4>
                    <h5>Student, CSE</h5>
                </div>
            </div>
            <div class="item_1 item" id="">
                <div class="DavidImage">
                    <img src="~/assets/image/testimonial.jpg" alt="">
                </div>
                <div class="DavidText">


                    <p>
                        I must explain to you how all this mistaken idea of denoung pleure and praising pain was
                        born
                        and I will give you a coete account of the system, and expound the actual
                    </p>
                    <h4>David Morgan</h4>
                    <h5>Student, CSE</h5>
                </div>
            </div>
            <div class="item_1 item" id="">
                <div class="DavidImage">
                    <img src="~/assets/image/testimonial.jpg" alt="">
                </div>
                <div class="DavidText">


                    <p>
                        I must explain to you how all this mistaken idea of denoung pleure and praising pain was
                        born
                        and I will give you a coete account of the system, and expound the actual
                    </p>
                    <h4>David Morgan</h4>
                    <h5>Student, CSE</h5>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="takeVideo">
    <div class="container">
        <div class="row">
            <div class="takeVideo_left col-lg-6 col-sm-12">
                <h2>TAKE A VIDEO TOUR</h2>
                <div class="videoImg">
                    <div class="videoColor"></div>
                    <a href="#" id="showvideo">
                        <div class="play_video_container">

                            <div id="test">
                            </div>

                        </div>

                        <i class="fas fa-play"></i>
                    </a>
                    <!-- <i class="far fa-window-close"></i> -->

                </div>


            </div>
            <div class="takeVideo_right col-lg-6 col-sm-12">
                <h2>NOTICE BOARD</h2>
                <div class="dateNews">
                    <div class="custom-card">
                        <h2>5, June 2017</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising
                            pain was born and I will give you a complete
                        </p>
                        <hr>
                    </div>
                    <div class="custom-card">
                        <h2>4, June 2017</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising
                            pain was born and I will give you a complete
                        </p>
                        <hr>
                    </div>
                    <div class="custom-card">
                        <h2>5, June 2017</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising
                            pain was born and I will give you a complete
                        </p>
                        <hr>
                    </div>
                    <div class="custom-card">
                        <h2>3, June 2017</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising
                            pain was born and I will give you a complete
                        </p>
                        <hr>
                    </div>
                    <div class="custom-card">
                        <h2>8, August 2017</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising
                            pain was born and I will give you a complete
                        </p>
                        <hr>
                    </div>
                    <div class="custom-card">
                        <h2>12, June 2017</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising
                            pain was born and I will give you a complete
                        </p>
                        <hr>
                    </div>
                    <div class="custom-card">
                        <h2>5, June 2017</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing plasure and praising
                            pain was born and I will give you a complete
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


